{% extends 'base.html' %}

{% block body %}
  <style>
    body{
      background-image: url("{{ url_for('static', filename='update.jpeg') }}");
      font-family:cursive;
      }
    .update{
      background-color: white;
      padding:20px;
      border-radius: 9%;
      margin: 0 auto;
      box-shadow: 5px 10px;
      }
  </style>
  <body>
  <br/>
  <div class = 'update container'>
    <form action="/update/{{todo.sno}}" method ='POST'>
  <div class="mb-3">
      <h3>Update ToDo</h3>
    <label for="title" class="form-label">To Do</label>
    <input type="text" class="form-control" name = "title" value ="{{todo.title}}" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control" value="{{todo.desc}}" name = 'desc' id="desc">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form></div>
  {%  endblock body %}
  </body>
</html>